.main_wrapper {
    display: flex;
    justify-content: center;
}

.kebab_list > tbody > tr > td:first-child {
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kebab_list > tbody > tr > td:nth-child(2){
    white-space: pre-wrap;
}

.kebab_list > tbody > tr > td:nth-child(3){
    padding-left: 20px;
}

.kebab_list{
    border-spacing: 0 20px;
}

.kebab_img {
    width: 150px;
    height: 150px;
    background-color: #ff823f;
    border-radius: 50%;
    margin-bottom: 10px;
}
