.wrapper {
    display: flex;
    margin-left: 250px;
    margin-top: 55px;
}

.contact > span {
    margin-left: 20px;
    font-size: 18px;
}
.openTime {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 55px;
    font-size: 18px;
}
.openTime > span:first-child {
    margin-bottom: 10px;
    font-weight: bold;
}
