.main_wrapper {
    display: flex;
    justify-content: center;
}

.drink_list > tbody > tr > td:first-child {
    padding-right: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drink_list > tbody > tr > td:nth-child(2){
    white-space: pre-wrap;
    font-size: 22px;
}

.drink_list{
    border-spacing: 0 20px;
}

.drink_img {
    width: 80px;
    height: 270px;
    /*background-color: #ff823f;*/
    /*border-radius: 50%;*/
    margin-bottom: 10px;
    background-size: cover;
    background-image: url('http://www.sinebrychoff.fi/SiteCollectionImages/Uutiset/2013/Q3_2013/CC%20PlantBottle%20syvatty.png');
}
.drink_name {
    font-size: 20px;
    text-transform: uppercase;
}


