.fav_foods {
    text-align: center;
}

.fav_header {
    color: #ff0000;
    text-shadow: 1px 1px #F2FA05;
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: underline;
}

.fav_pizzas {
    font-size: 20px;
}
.fav_kebabs {
    font-size: 20px;
}
.fav_rolls {
    font-size: 20px;
}
