
.nav {
    width: 70%;
    height: 100px;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 80px;
}

.link {
    width: 100%;
    padding: 35px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    color: #000000;
    background-color: #ffff00;
}

.link:hover {
    color: #ff0000;
}

